<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="english">
<head>
  <title>Register</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form action="#" th:action="@{/register}" th:object="${form}" method="post">

  <table>
    <tr>
      <td>Gebruikersnaam</td>
      <td>
        <input type="text" th:field="*{username}">
      </td>
      <td th:if="${#fields.hasErrors()}" th:errors="*{username}"></td>
    </tr>
    <tr>
      <td>Wachtwoord</td>
      <td>
        <input type="password" th:field="*{password}">
      </td>
      <td th:if="${#fields.hasErrors()}" th:errors="*{password}"></td>
    </tr>
    <tr>
      <td>Niveau</td>
      <td>
        <select th:field="*{educationalLevel}">
          <option
              th:each="educationalLevel : ${educationalLevels}"
              th:value="${educationalLevel}"
              th:text="${educationalLevel}"></option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Leerjaar</td>
      <td>
        <select th:field="*{grade}">
          <option
              th:each="i : ${#numbers.sequence(1,6)}"
              th:value="${i}"
              th:text="${i}">
          </option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <button type="submit">Bevestig</button>
      </td>
    </tr>
  </table>
</form>
</body>